.App {
  text-align: center;
}

.container {
  background: gray;
  height: 50vh;
  width: 50vw;
  padding: 0.5em;
  margin: 25vh auto 0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  /*align-content: flex-start;*/
}

.item {
  background: lightblue;
  margin: 0.5em;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
