.App {
  text-align: center;
}

.container {
  background: gray;
  height: 50vh;
  width: 70vw;
  padding: 0.5em;
  margin: 25vh auto 0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  /*align-content: flex-start;*/
}

.container_one {
  background: gray;
  height: 25vh;
  width: 50vw;
  padding: 0.5em;
  margin: 25vh auto 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.item {
  background: lightblue;
  margin: 0.5em;
}

.one {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 150px;
}

.two {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px;
  align-self: center;
  order: -1;
}

.three {  
  flex: 0 1 150px;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
